{% load static %}

<footer class="footer">
  <div class="footer__addr">
    <h1 class="footer__logo">Zerodivision</h1>

    <h2>Контакты</h2>

    <address>
      Москва лебединная 13<br>

      <a class="footer__btn" href="mailto:example@gmail.com">Свяжитесь с нами</a>
    </address>
  </div>

  <ul class="footer__nav">
    <li class="nav__item">
      <h2 class="nav__title">Media</h2>

      <ul class="nav__ul">
        <li>
          <a href="#">Online</a>
        </li>

        <li>
          <a href="#">Print</a>
        </li>

        <li>
          <a href="#">Alternative Ads</a>
        </li>
      </ul>
    </li>

    <li class="nav__item nav__item--extra">
      <h2 class="nav__title">Technology</h2>

      <ul class="nav__ul nav__ul--extra">
        <li>
          <a href="#">Hardware Design</a>
        </li>

        <li>
          <a href="#">Software Design</a>
        </li>

        <li>
          <a href="#">Digital Signage</a>
        </li>

        <li>
          <a href="#">Automation</a>
        </li>

        <li>
          <a href="#">Artificial Intelligence</a>
        </li>

        <li>
          <a href="#">IoT</a>
        </li>
      </ul>
    </li>

    <li class="nav__item">
      <h2 class="nav__title">Информация</h2>

      <ul class="nav__ul">
        <li>
          <a href="#">конфедициальность</a>
        </li>

        <li>
          <a href="{% url 'courses:about' %}">О нас</a>
        </li>

        <li>
          <a href="#">Карта сайта</a>
        </li>
      </ul>
    </li>
  </ul>

  <div class="legal">
    <p>&copy; 2022 zerodivision.ru. All rights reserved.</p>

    <div class="legal__links">
      <span>Сделано с <span class="heart">♥</span> студией разработки 6G "sixg.ru"</span>
    </div>
  </div>
</footer>