{% extends "base.html" %}

{% block title %}Мои курсы{% endblock %}

{% block content %}
  <h1>Мои курсы</h1>

  <div class="module">
    {% for course in object_list %}
      <div class="course-info">
        <h3>{{ course.title }}</h3>
        <p>
          <a href="{% url "courses:course_edit" course.id %}">Править</a>
          <a href="{% url "courses:course_delete" course.id %}">Удалить</a>
          <a href="{% url "courses:course_module_update" course.id %}">Править модули</a>
{#          {% if course.modules.count > 0 %}#}
{#            <a href="{% url "module_content_list" course.modules.first.id %}">Manage contents</a>#}
{#          {% endif %}#}
        </p>
      </div>
    {% empty %}
      <p>You haven't created any courses yet.</p>
    {% endfor %}
    <p>
      <a href="{% url "courses:course_create" %}" class="button">Добавить новый курс</a>
    </p>
  </div>
{% endblock %}