{% extends "base.html" %}

{% block title %}
    Зарегистрироваться
{% endblock %}

{% block content %}
    <h1>
        Зарегистрироваться
    </h1>
    <div class="module">
        <p>Enter your details to create an account:</p>
        <form action="" method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <p><input type="submit" value="Create my account"></p>
        </form>
    <a href="{% url 'login' %}">Back to login</a>
    <a href="{% url 'course_list' %}">Back to Home</a>
    </div>
{% endblock %}